.row.justify-content-center.align-items-center
  .col-md-8.col-11
    %h1.fs-2.text-center.my-4 借入アイテム一覧
    %ul.list-group
      - @borrower_rental_transactions.each do |borrower_rental_transaction|
        %li.list-group-item
          = link_to borrower_rental_transaction.item_version.name, user_borrower_rental_transaction_path(borrower_rental_transaction)
    .mt-2
      = paginate @borrower_rental_transactions
